div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  height:100%;
  left: 50%;
}

.img-responsive {
  height:50%;
  width:50%;
}

.container {
  width: max-content;
}

.wrap {
  text-wrap: wrap;
}
