div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  width:500px;
  height:500px;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
  margin: auto;
}

.img-responsive {
  scroll-snap-align: center;
}

.container {
  width: max-content;
}

.wrap {
  text-wrap: wrap;
}
